/* NAVBAR */

.title-logo {
    margin-left: 10px;
}

/* MEDIA QUERIES */

@media (min-width: 360px) and (max-width: 480px) {
    
    .navbar-brand .icon-logo {
        display: none;
    }

    .navbar-brand .title-logo {
        width: 233px;
        height: 30px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {

    .navbar-brand .icon-logo {
        width: 55px;
        height: 55px;
    }

    .navbar-brand .title-logo {
        width: 280px;
        height: 36px;
    }
}




